/* stylelint-disable-next-line no-empty-source */
@import '../../../styles/tokens/index';
@import '../../../styles/mixins/index';

.yk-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  color: white;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s;

  &--round {
    border-radius: $shape-corner-extra-large !important;
  }

  &--circle {
    padding: 0 !important;
    border-radius: $shape-corner-extra-large !important;
  }

  &--square {
    padding: 0 !important;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.56;
  }

  &--long {
    display: block;
    width: 100%;
  }

  svg {
    margin-right: 4px;
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin buttonSize($size, $br, $height, $fs, $pd) {
  .yk-button--#{$size} {
    min-width: $height;
    height: $height;
    padding: 0 $pd;
    font-size: $fs;
    border-radius: $br;
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin buttonType($type, $color) {
  .yk-button--#{$type} {
    color: $color;
  }
}

// primary type
/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin buttonPrimaryBGC($status, $color_) {
  .yk-button--primary.yk-button--#{$status} {
    background-color: $color_;

    &:not(:disabled):hover {
      background-color: color-mix(in srgb, $color_, #fff 12%);
    }

    &:not(:disabled):active {
      background-color: color-mix(in srgb, $color_, #000 8%);
    }
  }
}

.yk-button--secondary {
  background-color: rgb(0 0 0 / 8%);

  &:not(:disabled):hover {
    background-color: rgb(0 0 0 / 12%);
  }

  &:not(:disabled):active {
    background-color: rgb(0 0 0 / 16%);
  }
}

.yk-button--outline {
  background-color: transparent;
  border-color: rgb(0 0 0 / 16%);

  &:not(:disabled):hover {
    background-color: rgb(0 0 0 / 8%);
  }

  &:not(:disabled):active {
    background-color: rgb(0 0 0 / 12%);
  }
}

// secondary type
/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin buttonSecondaryOutlineBGC($status, $color_) {
  .yk-button--secondary.yk-button--#{$status} {
    color: $color_;
    background-color: rgba($color_, 0.08);

    &:not(:disabled):hover {
      background-color: rgba($color_, 0.12);
    }

    &:not(:disabled):active {
      background-color: rgba($color_, 0.16);
    }
  }

  .yk-button--outline.yk-button--#{$status} {
    background-color: transparent;
    border-color: rgba($color_, 0.16);

    &:not(:disabled):hover {
      background-color: rgba($color_, 0.08);
    }

    &:not(:disabled):active {
      background-color: rgba($color_, 0.12);
    }
  }
}

@include buttonSize(s, $shape-corner-small, 24px, 12px, 8px);
@include buttonSize(m, $shape-corner-small, 32px, 14px, 16px);
@include buttonSize(l, $shape-corner-medium, 36px, 14px, 16px);
@include buttonSize(xl, $shape-corner-medium, 48px, 16px, 24px);
@include buttonType(primary, white);
@include buttonType(secondary, black);
@include buttonType(outline, black);
@include buttonPrimaryBGC(primary, $color-primary);
@include buttonPrimaryBGC(danger, $color-danger);
@include buttonPrimaryBGC(success, $color-success);
@include buttonPrimaryBGC(warning, $color-warning);
@include buttonSecondaryOutlineBGC(primary, #2b5aed);
@include buttonSecondaryOutlineBGC(danger, #fa5247);
@include buttonSecondaryOutlineBGC(success, #1fb4a2);
@include buttonSecondaryOutlineBGC(warning, #ffaa1a);
