$pagination-pager-size__s: 24px;
$pagination-pager-size__m: 32px;
$pagination-pager-size__l: 36px;
$pagination-pager-size__xl: 48px;
$pagination-font-size__s: 12px;
$pagination-font-size__m: 14px;
$pagination-font-size__l: 14px;
$pagination-font-size__xl: 16px;
$pagination-border-radius__s: 4px;
$pagination-border-radius__m: 4px;
$pagination-border-radius__l: 8px;
$pagination-border-radius__xl: 8px;
