$yike-primary: var(--yike-primary);
$yike-danger: var(--yike-danger);
$yike-success: var(--yike-success);
$yike-warning: var(--yike-warning);
$yike-link: var(--yike-link);

// ------------ neutral color ------------
$neutral-color: var(--yike-neutral-color);
$neutral-color-1: var(--yike-neutral-color-1);
$neutral-color-2: var(--yike-neutral-color-2);
$neutral-color-3: var(--yike-neutral-color-3);
$neutral-color-4: var(--yike-neutral-color-4);
$neutral-color-5: var(--yike-neutral-color-5);
$neutral-color-6: var(--yike-neutral-color-6);
$neutral-color-7: var(--yike-neutral-color-7);
$neutral-color-8: var(--yike-neutral-color-8);
$neutral-color-9: var(--yike-neutral-color-9);
$neutral-color-10: var(--yike-neutral-color-10);

// ------------ functional color ------------
$primary-color: rgb($yike-primary);
$danger-color: rgb($yike-danger);
$success-color: rgb($yike-success);
$warning-color: rgb($yike-warning);
$link-color: rgb($yike-link);

// primary
$primary-color-1: rgba($yike-primary, 0.08);
$primary-color-2: rgba($yike-primary, 0.12);
$primary-color-3: rgba($yike-primary, 0.16);
$primary-color-4: rgba($yike-primary, 0.24);
$primary-color-5: rgba($yike-primary, 0.32);
$primary-color-6: color-mix(in srgb, $primary-color, #fff 12%);
$primary-color-7: $primary-color;
$primary-color-8: color-mix(in srgb, $primary-color, #000 8%);
$primary-color-9: color-mix(in srgb, $primary-color, #000 16%);
$primary-color-10: color-mix(in srgb, $primary-color, #000 32%);

// success
$success-color-1: rgba($yike-success, 0.08);
$success-color-2: rgba($yike-success, 0.12);
$success-color-3: rgba($yike-success, 0.16);
$success-color-4: rgba($yike-success, 0.24);
$success-color-5: rgba($yike-success, 0.32);
$success-color-6: color-mix(in srgb, $success-color, #fff 12%);
$success-color-7: $success-color;
$success-color-8: color-mix(in srgb, $success-color, #000 8%);
$success-color-9: color-mix(in srgb, $success-color, #000 16%);
$success-color-10: color-mix(in srgb, $success-color, #000 32%);

// danger
$danger-color-1: rgba($yike-danger, 0.08);
$danger-color-2: rgba($yike-danger, 0.12);
$danger-color-3: rgba($yike-danger, 0.16);
$danger-color-4: rgba($yike-danger, 0.24);
$danger-color-5: rgba($yike-danger, 0.32);
$danger-color-6: color-mix(in srgb, $danger-color, #fff 12%);
$danger-color-7: $danger-color;
$danger-color-8: color-mix(in srgb, $danger-color, #000 8%);
$danger-color-9: color-mix(in srgb, $danger-color, #000 16%);
$danger-color-10: color-mix(in srgb, $danger-color, #000 32%);

// warning
$warning-color-1: rgba($yike-warning, 0.08);
$warning-color-2: rgba($yike-warning, 0.12);
$warning-color-3: rgba($yike-warning, 0.16);
$warning-color-4: rgba($yike-warning, 0.24);
$warning-color-5: rgba($yike-warning, 0.32);
$warning-color-6: color-mix(in srgb, $warning-color, #fff 12%);
$warning-color-7: $warning-color;
$warning-color-8: color-mix(in srgb, $warning-color, #000 8%);
$warning-color-9: color-mix(in srgb, $warning-color, #000 16%);
$warning-color-10: color-mix(in srgb, $warning-color, #000 32%);

// ------------ background color ------------
$background-color-1: var(--yike-background-color-1);
$background-color-2: var(--yike-background-color-2);
$background-color-3: var(--yike-background-color-3);
$background-color-4: var(--yike-background-color-4);
$background-color-l: $background-color-1;
$background-color-m: $background-color-2;
$background-color-s: $background-color-3;
$background-color-ss: $background-color-4;

// ------------ text color ------------
$text-color-l: var(--yike-text-color-1);
$text-color-m: var(--yike-text-color-2);
$text-color-s: var(--yike-text-color-3);
$text-color-ss: var(--yike-text-color-4);

// ------------ line color ------------
$line-color-s: var(--yike-line-color-1);
$line-color-m: var(--yike-line-color-2);
$line-color-l: var(--yike-line-color-3);
