@forward './color.scss';
@forward './motion.scss';
@forward './text.scss';
@forward './space.scss';

$prefix: yike;
$shape-corner-none: 0;
$shape-corner-small: 4px;
$shape-corner-medium: 8px;
$shape-corner-large: 12px;
$shape-corner-extra-large: 20px;
$shape-corner-full: 999px;
$state-enabled-alpha: 0.08;
$state-hovered-alpha: 0.12;
$state-pressed-alpha: 0.24;
$state-disabled-alpha: 0.3;
