@forward './color.scss';
@forward './motion.scss';
@forward './text.scss';
@forward './space.scss';
@forward './corner.scss';

$shape-corner-full: 999px;
$state-enabled-alpha: 0.08;
$state-hovered-alpha: 0.12;
$state-pressed-alpha: 0.24;
$state-disabled-alpha: 0.3;
