$motion-path: linear;
$motion-duration-short1: 50ms;
$motion-duration-short2: 100ms;
$motion-duration-short3: 150ms;
$motion-duration-short4: 200ms;
$motion-duration-medium1: 250ms;
$motion-duration-medium2: 300ms;
$motion-duration-medium3: 350ms;
$motion-duration-medium4: 400ms;
$motion-duration-long1: 450ms;
$motion-duration-long2: 500ms;
$motion-duration-long3: 550ms;
$motion-duration-long4: 600ms;
$motion-duration-extra-long1: 700ms;
$motion-duration-extra-long2: 800ms;
$motion-duration-extra-long3: 900ms;
$motion-duration-extra-long4: 1000ms;
$motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
$motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 0, 1);
$motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
$motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
$motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
$motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
