$typography-label-small-size: 12px;
$typography-label-small-line-height: 18px;
$typography-label-medium-size: 14px;
$typography-label-medium-line-height: 23px;
$typography-label-large-size: 16px;
$typography-label-large-line-height: 24px;
$typography-title-small-size: 18px;
$typography-title-small-line-height: 26px;
$typography-title-medium-size: 24px;
$typography-title-medium-line-height: 36px;
$typography-title-large-size: 32px;
$typography-title-large-line-height: 46px;
