@import '../../../styles/tokens';

.yk-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

@for $level from 1 through 5 {
  h#{$level}.yk-title {
    @if $level == 1 {
      @include text-3xl;
    } @else if $level == 2 {
      @include text-2xl;
    } @else if $level == 3 {
      @include text-xl;
    } @else if $level == 4 {
      @include text-l;
    } @else if $level == 5 {
      @include text-m;
    }
  }
}

span.yk-typography--ellipsis {
  display: inline-block;
  max-width: 100%;
}

.yk-typography {
  &--default {
    color: $text-color-l;
  }

  &--primary {
    color: $primary-color;
  }

  &--success {
    color: $success-color;
  }

  &--warning {
    color: $warning-color;
  }

  &--danger {
    color: $danger-color;
  }

  &--secondary {
    color: $text-color-m;
  }

  &--disabled {
    color: $text-color-ss;
    cursor: not-allowed;
    user-select: none;
  }

  &--del {
    del {
      text-decoration: line-through;
    }
  }

  &--underline {
    text-decoration: underline;
  }

  &--strong {
    strong {
      font-weight: 500;
    }
  }

  &--mark {
    background-color: #ffd61c7a;
  }

  &--ellipsis {
    overflow: hidden;
  }

  &--ellipsis-single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--ellipsis-multiple-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__ellipsis-operation-expand {
    color: $primary-color;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: color-mix(in srgb, $primary-color, #fff 20%);
    }
  }
}
