$prefix: yk-typography;

.#{$prefix} {
  font-size: 14px;
  line-height: 22px;

  &--ellipsis {
    overflow: hidden;
  }

  &--ellipsis-single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--ellipsis-multiple-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
