@import '../../../styles/tokens/color';

$prefix: yk-typography;

.#{$prefix} {
  font-size: 14px;
  line-height: 22px;

  &--ellipsis {
    overflow: hidden;
  }

  &--ellipsis-single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--ellipsis-multiple-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__ellipsis-operation-expand {
    color: $color-primary;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: color-mix(in srgb, $color-primary, #fff 20%);
    }
  }
}
