@import '../../../styles/tokens';

.yk-link {
  color: unset;
  text-decoration: underline;
  cursor: pointer;
  border-radius: $shape-corner-small;

  &:hover {
    text-decoration: none;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.56;
  }
}
