@import '../../../styles/color/color';
@import '../../../styles/theme/light';

.yk-switch {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--yike-background-color-4);
  border: none;
  outline: none;
  transition: background-color 0.2s ease-in-out;

  &--m {
    min-width: 40px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;

    &.yk-switch--checked {
      .yk-switch-dot {
        left: calc(100% - 19px);
      }
    }
  }

  &--s {
    min-width: 32px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;

    &.yk-switch--checked {
      .yk-switch-dot {
        left: calc(100% - 15px);
      }
    }
  }

  &-dot {
    position: absolute;
    top: 3px;
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    background-color: $color-white;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  &--m &-dot {
    width: 16px;
    height: 16px;
  }

  &--s &-dot {
    width: 12px;
    height: 12px;
  }

  &--checked {
    background-color: $color-blue;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.48;
  }
}

.yk-switch--loading {
  cursor: not-allowed;
  opacity: 0.72 !important;

  svg {
    width: 16px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: $color-blue;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 3;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}
