@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

blockquote,
dd,
dl,
figure,
hr,
p,
pre {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
}

.yike-doc-button {
  @apply px-4 py-2 rounded-lg select-none;
}

.yike-doc-link {
  color: #1890ff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.yike-doc {
  h3 {
    max-width: 800px;
  }
}

.yike-doc-table-wrapper {
  table {
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid var(--yike-border-color);
    border-radius: 8px;
    transition: border 0.3s;

    th {
      padding-left: 16px;
      font-size: 14px;
      font-weight: 600;
      line-height: 44px;
      text-align: left;
      background-color: var(--yike-background-color-3);
      transition: background-color 0.3s;
    }

    td {
      max-width: 240px;
      padding: 10px 16px;
      text-align: left;
      border-top: 1px solid var(--yike-line-color-1);
      transition: border 0.3s;
    }
  }
}

code.inline {
  padding-block: 0.2em 0.1em;
  padding-inline: 0.4em;
  margin: 0 0.2em;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 85%;
  background: rgb(150 150 150 / 10%);
  border: 1px solid rgb(100 100 100 / 20%);
  border-radius: 3px;
}
