@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yike-border-color: #e8e8e8;
  --fontcolorm: rgb(30 32 37 / 80%);
  --bgcolorm: #f6f6f8;
  --linecolorm: #e8e8e8;
}

:root.dark {
  --yike-border-color: #33353b;
}

body {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  background: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

blockquote,
dd,
dl,
figure,
hr,
p,
pre {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
}

.yike-doc-button {
  @apply px-4 py-2 rounded-lg select-none;
}

.yike-doc-link {
  color: #1890ff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.yike-doc {
  h3 {
    max-width: 800px;
  }
}

.yike-doc-table-wrapper {
  table {
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid var(--yike-border-color);
    border-radius: 8px;
    transition: border 0.3s;

    th {
      padding-left: 16px;
      font-size: 14px;
      font-weight: 600;
      line-height: 44px;
      text-align: left;
      background-color: var(--bgcolorm, #f6f6f8);
      transition: background-color 0.3s;
    }

    td {
      max-width: 240px;
      padding: 10px 16px;
      text-align: left;
      border-top: 1px solid var(--linecolorm, #e8e8e8);
      transition: border 0.3s;
    }
  }
}
